body {
  background-image: url(../imgs/pines.jpg);
  background-size: cover;
}
.nav-bar {
  background-color: #0f03031e;
  color: white;
  font-family: monospace;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
