body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../imgs/pines.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nav-bar {
  background-color: #0f03031e;
  color: white;
  font-family: monospace;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.links a {
  text-decoration: none;
  color: black;
}
.links {
  border-radius: 9px;
}
.shit {
  position: fixed;
  width: 300px;
  height: 600px;
  color: white;
  background-color: rgba(20, 20, 20, 0.893);
  font-family: monospace;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.dp {
  width: 180px;
  height: 200px;
  border-radius: 50%;
  border-color: rgba(167, 160, 200, 0.51);
  border-width: 7px;
  border-style: solid;
}
.intro {
  margin-left: 40%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  font-size: 100px;
  line-height: 100px;
  margin-top: 25vh;
}
.hola {
  margin-top: 60px;
}
.arrow {
  margin-top: 80px;
  width: 400px;
}
.content {
  margin-left: 310px;
  background-color: #0f03033a;
  font-family: sans-serif;
  margin-top: 80px;
  border-top-left-radius: 9px;
}
.snip {
  border-radius: 9px !important;
  width: 500px;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: orangered;
}
.bio {
  width: 450px;
  height: 300px;
  border-radius: 9px;
}
.tool {
  font-size: 20px;
}
.icon {
  height: 10px !important;
}
#skills {
}
